@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
  padding: 0;
  background-image: url("/images/back2.webp");
  background-color: #635147;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: soft-light;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

.bookresult {
  display: flex;
  gap: 20px;
  padding: 1.2rem;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: to improve readability against background */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px 0; /* Add space above and below */
}

#cover {
  border-radius: 5px;
  margin-right: 20px; /* Add space between image and the rest of the elements */
}

.bookinfo {
  display: flex;
  flex-direction: row; /* Ensure the info is laid out in a row */
  align-items: flex-start; /* Align items at the start of the flex container */
}

.title-info {
  display: flex;
  flex-direction: column; /* Ensure the title and other info are stacked vertically */
  flex-grow: 1; /* Allow the title and other info to take up remaining space */
}

#booktitle {
  font-size: 24px;
  margin: 10px 0;
}

#author {
  font-size: 18px;
  margin: 5px 0;
}

.bookinfo p {
  font-size: 14px;
  margin: 5px 0;
}

.transaction {
  text-align: center;
  margin-bottom: 20px;
}

.transaction img {
  width: 200px;
  height: 300px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.transaction button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 16px;
  margin: 5px auto;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.transaction #borrow {
  background-color: #4CAF50;
}

.transaction #ask {
  background-color: #635b30;
}

.transaction button:hover {
  opacity: 0.8;
}