@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
*{
  overflow-y: auto;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

a{
    color:white;
    font-size: 20px;
}

li{
    padding-bottom: 20px ;
}

img{
    width: 100%;
    height: auto;
}
