{{#each allapplications}}
    <li>
        <span>ID User: {{id_user}}</span>
        <span>ISBN Book: {{ISBN_book}}</span>
        <span>Date: {{date}}</span>
        <span>ID City: {{id_location}}</span>
    </li>
{{/each}}