{{#each allborrows}}
    <li>
        <span>ID User: {{id_user}}</span>
        <span>ID Copy: {{id_copy}}</span>
        <span>Date Borrowing: {{date_borrowing}}</span>
        <span>Date Must Return: {{date_must_return}}</span>
    </li>
{{/each}}
