<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrow Confirmation</title>
    <link rel="stylesheet" href="/css/login_style.css" />
    <style>
     a {
            font-weight: bold; /* Make the text bold */
            color: whitesmoke; /* Set the text color to black */
            text-decoration: none; /* Remove underline */
        }
        /* CSS for hover effect (optional) */
        a:hover {
            text-decoration: underline; /* Add underline on hover */
        }
    </style>
</head>
<body>
    <h1>Borrow Confirmation</h1>
    <p>You have successfully apply for borrowing the book !<br> The book has been reserved and you can borrow it in the next 6 days.</p>
    <a href="/">Go back to the library</a>
</body>
</html>