<section id="communication">
    <h2>Επικοινωνία</h2>
    <p>Για περαιτέρω πληροφορίες ή για να επικοινωνήσετε μαζί μας, μπορείτε να μας βρείτε στα παρακάτω στοιχεία επικοινωνίας:</p>
    <ul>
        <li>Τηλέφωνο: +30 210 1234567</li>
        <li>Email: <a href="mailto:info@diktyovivliothikon.gr">info@diktyovivliothikon.gr</a></li>
    </ul>
    <p>Επιπλέον, μπορείτε να μας βρείτε και στα ακόλουθα κοινωνικά μέσα:</p>
    <ul>
        <li>
            <img src="facebook-icon.png" alt="Facebook">
            <a href="https://www.facebook.com/diktyovivliothikon">Δίκτυο Δανειστικών Βιβλιοθηκών</a>
        </li>
        <li>
            <img src="twitter-icon.png" alt="Twitter">
            <a href="https://twitter.com/diktyo_library">@diktyo_library</a></li>
        <li>
            <img src="instagram-icon.png" alt="Instagram">
            <a href="https://www.instagram.com/diktyo_vivliothikon">diktyo_vivliothikon</a>
        </li>
    </ul>
</section>