<section id="communication">
    <h2>Επικοινωνία</h2>
    <p>Για περαιτέρω πληροφορίες ή για να επικοινωνήσετε μαζί μας, μπορείτε να μας βρείτε στα παρακάτω στοιχεία επικοινωνίας:</p>
    <ul>
        <li>Τηλέφωνο: +30 210 1234567</li>
        <li>Email: <a href="mailto:info@diktyovivliothikon.gr">info@diktyovivliothikon.gr</a></li>
    </ul>
</section>