<div class="quote">
        <p>"Ένα βιβλίο είναι ένα όχημα που μας μεταφέρει σε άλλους κόσμους και διασχίζει το χρόνο, χωρίς ποτέ να μας αφήνει στη μοναξιά." - Emily Dickinson</p>
    </div>
    <nav class="search">
        <button>Audio Books</button>
        <input type="text" id="searchInput" placeholder="Ψάξε για βιβλίο..." style="font-weight: bold">
        <button>Αναζήτηση</button>
    </nav>
    <nav class="books">
        <div class="book">
            <div class="category">ΑΥΤΟΒΕΛΤΙΩΣΗΣ</div>
            <img src="/images/aftoveltiwsis.png" alt="Book 1">
            <div class="title_author">Ο ΑΛΧΗΜΙΣΤΗΣ<br>PAULO COELHO</div>
        </div>
        <div class="book">
            <div class="category">ΑΓΓΛΙΚΗ ΛΟΓΟΤΕΧΝΙΑ</div>
            <img src="/images/aggliki-logotexnia.png" alt="Book 1">
            <div class="title_author">WUTHERING HEIGHTS<br>EMILY BRONTE</div>
        </div>
        <div class="book">
            <div class="category">ΑΥΤΟΒΙΟΓΡΑΦΙΑ</div>
            <img src="images/autoviografia-istoria.png" alt="Book 1">
            <div class="title_author">ΤΟ ΗΜΕΡΟΛΟΓΙΟ ΤΗΣ<br>ΑΝΝΑΣ ΦΡΑΝΚ</div>
        </div>
        <div class="book">
            <div class="category">ΕΓΚΥΚΛΟΠΑΙΔΕΙΑ</div>
            <img src="images/egkiklopaidia.png" alt="Book 1">
            <div class="title_author">ΠΑΓΚΟΣΜΙΑ ΕΓΚΥΚΛΟΠΑΙΔΕΙΑ ΤΗΣ ΤΕΧΝΗΣ</div>
        </div>
        <div class="book">
            <div class="category">ΕΠΙΣΤΗΜΗ</div>
            <img src="images/epistimi-texnologia.png" alt="Book 1">
            <div class="title_author">ΚΩΔΙΚΑΣ DA VINCI<br>DAN BROWN</div>
        </div>
        <div class="book">
            <div class="category">ΦΑΝΤΑΣΙΑ</div>
            <img src="images/fantasia.png" alt="Book 1">
            <div class="title_author">Ο ΑΡΧΟΝΤΑΣ ΤΩΝ ΔΑΧΤΥΛΙΔΙΩΝ<br>ΤΟΛΚΙΝ</div>
        </div>
        <div class="book">
            <div class="category">ΚΛΑΣΙΚΗ ΛΟΓΟΤΕΧΝΙΑ</div>
            <img src="images/klasikilogotexnia.png" alt="Book 1">
            <div class="title_author">ΤΟ ΥΠΟΓΕΙΟ<br>ΦΙΟΝΤΟΡ ΝΤΟΣΤΟΓΙΕΦΣΚΙ</div>
        </div>
        <div class="book">
            <div class="category">ΜΥΣΤΗΡΙΟΥ</div>
            <img src="images/mistiriou.png" alt="Book 1">
            <div class="title_author">ΜΑΧΑΙΡΙ<br>JO NESBO</div>
        </div>
        <div class="book">
            <div class="category">ΠΑΙΔΙΚΗ ΛΟΓΟΤΕΧΝΙΑ</div>
            <img src="images/paidikilogotexniα.png" alt="Book 1">
            <div class="title_author">Ο ΜΙΚΡΟΣ ΠΡΙΓΚΗΠΑΣ<br>ΑΝΤΟΥΑΝ ΝΤΕ ΣΑΙΝΤ-ΕΞΥΠΕΡΥ</div>
        </div>
        <div class="book">
            <div class="category">ΘΡΗΣΚΕΙΑ-ΦΙΛΟΣΟΦΙΑ</div>
            <img src="images/thriskeia-filosofia.png" alt="Book 1">
            <div class="title_author">Ο ΜΟΝΑΧΟΣ ΠΟΥ ΠΟΥΛΗΣΕ ΤΗ FERRARI ΤΟΥ<br>ROBIN SHARMA</div>
        </div>
    </nav>