<section id="location">
        <h2>Τοποθεσίες</h2>
        <ul>
            {{#each locationInfo}}
                <li><strong>{{this.city}}:</strong> {{this.address}}, {{this.postcode}}</li>
            {{/each}}
        </ul>
    </section>