<section id="location">
        <h2>Τοποθεσίες</h2>
        <ul>
            <li><strong>Αθήνα:</strong> Παραδεισίου 13,  106 74</li>
            <li><strong>Θεσσαλονίκη:</strong> Αριστοτέλους 25,  546 23</li>
            <li><strong>Πάτρα:</strong> Εθνικής Αντιστάσεως 4,  262 21</li>
            <li><strong>Ηράκλειο:</strong> Λεωφόρος Κνωσσού 15,  714 09</li>
        </ul>
    </section>