<p>Επιτυχής καταχώριση επιστροφής</p>
{{#if notBlacklisted}}
    <p>Ο χρήστης έκανε την επιστροφή μετά την προθεσμία που είχε</p>
{{else}}
    <p>Ο χρήστης έκανε την επιστροφή εντός της προθεσμίας</p>
{{/if}}